:root {
    --size-400: 1rem;

    --max-width: 1170px;
}

/* font faces if you wanna use */
/* @font-face {
    font-family: 'HankenGrotesk';
    font-display: swap;
    font-weight: 100 900;
    src: url('assets/fonts/HankenGrotesk-VariableFont_wght.ttf') 
         format('truetype');
} */
/* Modern CSS Reset 29/11/2022 Josh Comeau*/
/* use a more-intuitive box-sizing model.*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* remove default margin and padding */
* {
    margin: 0;
    padding: 0; /*added by myself*/
    font: inherit;
}

/* remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* allow percentage-based heights in the application */
html, body {
    min-height: 100%;
    overflow-x: hidden;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* typographic tweaks 1.accessible line-height 2.improve text rendering */
body {
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased; /* only works on maxOS */
    -webkit-font-osx-font-smoothing: antialiased;
}

/* improve media defaults */
img, 
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
     scroll-behavior: auto;
    }
    
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
}

/* typography */
h1 {
    font-size: 4rem;
    font-weight: bold;
}

h2 {
    font-size: 3rem;
    font-weight: bold;
}

/* components */
.btn {
    padding: 0.5rem 1rem;
}

/* section */
.desserts {
    flex: 0 0 75%;
}

/* cart */
.cart {
    flex: 0 0 25%;
    border: 1px solid black;
    align-self: start;
    padding: 1rem;
}

/* utilities */
.wrapper {
    width: 1100px;
    margin-inline: auto;
    padding-inline: 2rem;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.gap-1 {
    gap: 1rem;
}

.dessert {
    flex: 0 0 30.33%;
}

.dessert-img {
    border-radius: 20px;
}
